/* Google Fonts for HomeNest */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@import "tailwindcss";
@plugin "daisyui";


@layer base {
  body {
    font-family: "Lora", system-ui, -apple-system, serif;
  }
}

/* H1 - Main Title */
.text-h1 {
  @apply text-2xl sm:text-3xl lg:text-4xl font-bold;
}

/* H2 - Section Title */
.text-h2 {
  @apply text-xl sm:text-2xl lg:text-3xl font-semibold;
}

/* H3 - Subsection / Card Title */
.text-h3 {
  @apply text-lg sm:text-xl lg:text-2xl font-semibold;
}

/* Subtitle / Card Minor Title */
.text-subtitle {
  @apply text-base sm:text-lg lg:text-xl font-medium;
}

/* Small Subtitle / Badge Title */
.text-sub-badge {
  @apply text-sm sm:text-base lg:text-base font-medium text-secondary;
}

/* Standard paragraph */
.text-body {
  @apply text-sm sm:text-base lg:text-lg leading-relaxed;
}

/* Small notes / captions */
.text-caption {
  @apply text-xs sm:text-sm lg:text-sm;
}

.why-choose {
  background-image: url("https://images.unsplash.com/photo-1708764014093-d3578e77a143?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=870");
}

.ag-icons {
  @apply hover:text-secondary ease-out duration-500;
}

.bsr-cards {
  @apply p-10 rounded-md shadow-md hover:shadow-lg;
}

.bsr-images {
  @apply p-9;
}

.bsr-cardsBody {
  @apply mt-6 space-y-6 text-center;
}

.bsr-btns {
  @apply btn btn-outline outline-2 outline-primary rounded-md! text-primary border-0 text-lg hover:bg-primary hover:text-base-100 hover:outline-0 ease-out duration-500;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.753);
  z-index: 10;
}

.sliders {
  @apply relative flex items-center justify-center carousel-item w-full h-full bg-cover;
}

.hero-bg-1 {
  background-image: url("./assets/banner.jpg");
  background-repeat: no-repeat;
}

.add-divs {
  @apply flex flex-col lg:flex-row items-start lg:items-center justify-between gap-3;
}

.labels {
  @apply block mb-2 font-bold! text-success;
}

.modal-divs {
  @apply flex flex-col justify-between gap-3;
}

a.active {
  @apply text-primary;
}


.svg-underline {
  position: relative;
  display: inline-block;
  
}

.svg-underline::after {
  content: "";
  position: absolute;

  /* SVG underline */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 188 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27 9.99993C61.5 5.16659 138.3 0.903127 167.5 2.10313C130.333 4.10323 45.2 9.407 2 22.607C2 23.107 89 8.60344 186 8.10344' stroke='%23ffffff' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center bottom;

  /* Positioning */
  left: 50%;
  bottom: -0.5em;
  transform: translateX(-50%);

  /* Size */
  width: 110%;
  height: 0.65em;

  pointer-events: none;
}

